<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spotify App </title>
        <link rel="stylesheet" href = "{{
            url_for('static', filename='css/main.css')
        }}">
    </head>
    <body>
        <p>
            Hey everyone what's popping? Enter the song:
        </p>
        <br>
        <form action = "check" method = "post">
            <input type = "text" name = "song_input">
            <br>
            <input type = "submit" value = "CHECK" id = "check">

            <!-- this is for messages in the first thing-->
            
                <p>{{message1}}</p>

            <!--image from the song-->
            <p>
                <a href="{{song_link_url}}" target="_blank">
                <img src = "{{song_image_url}}" alt = "Song Image">
                </a>
            </p>

            <!-- this is for message in the second thing -->

                <p id="special"><a href = "{{play_url}}" target="_blank">
                    {{message2}}
                </a></p>


            
        </form>
    </body>
</html>