<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spotify App </title>
        <link rel="stylesheet" href = "{{
            url_for('static', filename='css/main.css')
        }}">
    </head>
    <body>

        <header class="header">

            <nav class="nav-list">
                <a href = "/">Home</a>
                <a href = "/">Song Search</a>
                <a href = "/login">Login</a>
                <a href = "/wrapped">Wrapped</a>
                <a href = "/playlists">Playlist Wrapped</a>
                <a href = "/recommender">Recommender</a>
                <a href = "/cover">Playlist Cover</a>
            </nav>
        </header>

        <p>
            Hey everyone what's popping? Enter the song:
        </p>
        <br>
        <form action = "check" method = "post">
            <input type = "text" name = "song_input">
            <br>
            <input type = "submit" value = "CHECK" id = "check">
        </form>
        <br>
        <p>
            <a href = "/login">
                Login With Spotify
            </a>
        </p>
    </body>
</html>