<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spotify App </title>
        <link rel="stylesheet" href = "{{
            url_for('static', filename='css/main.css')
        }}">
    </head>
    <body>

        <header class="header">

            <nav class="nav-list">
                <a href = "/">Home</a>
                <a href = "/">Song Search</a>
                <a href = "/login">Login</a>
                <a href = "/wrapped">Wrapped</a>
                <a href = "/playlists">Playlist Wrapped</a>
                <a href = "/recommender">Recommender</a>
                <a href = "/cover">Playlist Cover</a>
            </nav>
        </header>


        <h1>
            Refresh for a new Playlist
        </h1>

        <p>
            
            <a href = "{{playlist_link}}" target = "_blank">
                {{playlist_name}}
            </a>
            <br>
            User: {{user_name}}

            <br>
            {{image_code|safe}}
            <br>
            <br>

            Most Featured Artist: {{artist_name}} <br> {{n1}} times
            <br>
            Most Featured Album: {{album_name}} <br> {{n2}} times

            <br>
            <br>

            Average Popularity: {{avg_pop}}
            <br>
            Most Popular Song: {{most_pop}} {{n3}}
            <br>
            Least Popular Song: {{least_pop}} {{n4}}

            <br>
            <br>

            Average Duration: {{avg_du}}
            <br>
            <br>
            Longest Song <br> {{most_du}} <br> {{n5}} <br>
            Shortest Song <br> {{least_du}} <br> {{n6}}


        </p>
        <br>
        
    </body>
</html>