<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spotify App </title>
        <link rel="stylesheet" href = "{{
            url_for('static', filename='css/main.css')
        }}">
    </head>
    <body>
        <p>
            <a href = "{{playlist_link}}" target = "_blank">
                {{playlist_name}}
            </a>
            User: {{user_name}}

            <br>
            {{image_code|safe}}

            Most Featured Artist: {{artist_name}} {{n1}}
            Most Featured Album: {{album_name}} {{n1}}

            <br>

            Average Popularity: {{avg_pop}}
            Most Popular Song: {{most_pop}} {{n3}}
            Least Popular Song: {{least_pop}} {{n4}}

            <br>

            Average Duration: {{avg_du}}
            Longest Song: {{most_du}}
            Shortest Song: {{least_du}}


        </p>
        <br>
        
    </body>
</html>