<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spotify App </title>
        <link rel="stylesheet" href = "{{
            url_for('static', filename='css/main.css')
        }}">
    </head>
    <body>

        <header class="header">

            <nav class="nav-list">
                <a href = "/">Home</a>
                <a href = "/">Song Search</a>
                <a href = "/login">Login</a>
                <a href = "/wrap">Wrapped</a>
                <a href = "/playlists">Playlist Wrapped</a>
                <a href = "/recommender">Recommender</a>
                <a href = "/cover">Playlist Cover</a>
            </nav>
        </header>

        <p>
            We will reccomend a playlist based on your top 5 songs:
        </p>
        <br>
        <p>
            Generate playlist:

        </p>
    </body>
</html>